body{
    margin: 0px !important;
    background-color : #f9f9f9 !important;


}
.page .navbar{
    background-color: #d40055;
    
}

.next a img {
    position: absolute;
    bottom: 0;
    margin: 0;
}

.description{
    position: relative;
    width: 100%;
    background-color: #fdfdfd;
    height: 75px;
}

.description textarea {
    position: absolute;
    width: 66%;
    left: calc(50% -33px);
    top: calc(100% -75px);
    
}
