.page{
    background-color : #f9f9f9;
}

body{
    margin: 0px !important;
    
}

.page .navbar{
    background-color: #d40055;
    
}

.center-sliding{
    margin:auto;
    
}

.next a img {
    position: absolute;
    bottom: 0;
    margin: 0;
}

.description{
    position: relative;
    background-color: #fdfdfd;
    height: 150px;
    width: 100%;

}
.description p {
    line-height: 2.0 !important;
    text-indent: 235px;
    height: 15px;
 
}
.description textarea {
    position: absolute;
    width:66%;
    height:80%;
    left: 17%;
    top: calc(100% - 75 px);
    border-left: 8px solid #ffb380;
    position: relative;
    padding-left: 15px;
    padding-bottom:
}


