.page{
    background-color : #f9f9f9;
}

body{
    margin: 0px !important;
    
}

.page .navbar{
    background-color: #d40055;
    
}

.next a img {
    position: absolute;
    bottom: 0;
    margin: 0;
}

.description{
    position: relative;
    width: 100%;
    background-color: #fdfdfd;
    height: 200px;
    border-left: 8px solid #ffb380;

}
.description p {
    left: 17%;
    line-height: 2.0 !important;
    text-indent: 152px;
    height: 15px;
    
    
    
}
.description textarea {
    position: absolute;
    width:66%;
    height:70%;
    left: 17%;
    top: calc(100% - 75 px);
    
}


