body{
    margin: 0px !important;
    background-color : #f9f9f9;


}
.page .navbar{
    background-color: #d40055;
    width:
    
}

.next a img {
    position: absolute;
    bottom: 0;
    margin: 0;
}
