.page{
    background-color : #f9f9f9;
}

body{
    margin: 0px !important;
    
}

.page .navbar{
    background-color: #d40055;
    
}

.center-sliding{
    margin:auto;
    
}

.next a img {
    position: absolute;
    bottom: 0;
    margin: 0;
}

.description1 {
    position: relative;
    background-color: #fdfdfd;
    height: 99px;
    width: 100%;

}
.description1 p {
    line-height: 2.0 !important;
    text-indent: 268px;
    height: 15px;
    
 
}
.description1 textarea {
    position: absolute;
    width: 66%;
    left: 17%;
    height: 55%;
    border-left: 8px solid #ffb380;
    padding-left: 19px;
    padding-bottom: 10px;
   
}
.description2 textarea {
    position: absolute;
    width: 66%;
    left: 17%;
    height: 55%;
    border-left: 8px solid #ffb380;
    padding-left: 19px;
    padding-bottom: 10px;
    
}

.description2 {
    position: relative;
    background-color: #fdfdfd;
    height: 200px;
    width: 100%;
    
}
.description2 p {
    line-height: 2.0 !important;
    text-indent: 268px;
    height: 15px;
    
    
}
