.page-content {
    background-color: rgb(235,235,235);
}

.main-body {
    color: white;
    width: 100%;
}

.main-header {
    text-align: center;
}

.text-area-center {
    width: 90%;
    margin: auto 5% auto 5%;
}

.play {
    margin: auto;
    width: 90px;
}

.play-button {
    width:100%;
}

.description p {
    margin-top:60px;
    margin-bottom:40px;
}

textarea {
    width: 80%;
    margin: auto 10%;
    height: 200px;
    background-color: rgba(204,204,204,0.2);
    border: 4px solid rgba(170,170,170,0.3);
    resize: none;
    border-radius: 5px;
    color: white;
}

h2 {
    color:white;
    font-size: 40px!important;
}

p {
    width: 80%;
    margin: auto 10%;
    font-size: 15px;
    font-weight: bold;
}

i {
    width: 50px;
    height: 50px;
}

.center {
    margin: 0 auto;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 73px;
  height: 45px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6DD7FE;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 38px;
  width: 40px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F860FC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


