.prototypChoiceTitle {
	position: absolute;
	margin-top: 5%;
	width: 90%;
	height: 18%;
	top: 0;
	line-height: 1.0;
	font-size: calc(11pt + 0.25vw);
}

.descriptionPChoice{
	font-size: calc(10pt + 0.25vw);
	position: absolute;
	display: block;
	top: 25%;
	/*padding: 1% 4% 0 4%;*/
	word-wrap: normal; 
	height: 20%;
	/*overflow: hidden;*/
}



/* .startBtn img {
	left: 40%;
    width: 20%;
    position: fixed;
    bottom: 0;

} */

.choicePageContent{
	position: absolute;
	margin: 3% 10%;
	display: table-cell;
	align-content: center;
	width: 80%;
	height: 90%;
}

.prototypeChoiceWrapper {
    position: relative;
    display: inline-block;
    width: 47%;
    height: 30%;
    background-color: lime;
    margin: 1%;

}

.pSelectionSwiper {
	cursor: pointer;
	position: relative;
	display: flex;
	margin: 1%;
	align-content: center;
	width: 40%;
	height: 100%;
	padding: 3%;
	border-radius: 1%;

	border: 1px solid #d40055;

}

.selectionImgWrapper {
	position: relative;
	top: 65%;
	width: 25%;
	display: inline-block;
	margin-right: 5%;
	left: 3%;
}

#prototypeSelectionSwiper > .swiper-wrapper {
    height: 70%;
}