.page {
    background-color : #4D4D4D;
}

.left {
    text-align:left;
    height: 50%
    opacity: 0.4;
    background-color: white;
}

.right {
    text-align:right;
    height: 50%;
    opacity: 0.4;
    background-color: white;
    
}

.f7-icons {
    color: #d40055;
}


