.puzzlePiece {
    position: relative;
    display: inline-block;
    z-index: 4;
    background-color: black;
}


.puzzleDiv {
    background-image: url("http://image.wallpaperlistings.com/bigphoto/97/971504/wallpaper-1920x1080-hd-1080p.jpg");
    background-size:contain;
	background-repeat: no-repeat;
    /* padding: 10px 10px 10px 10px; */
    width: 732px;
    height: 412px; 
    font-size: 0;
}
