.puzzlePiece {
	z-index: 6;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: solid 1px #0000db;
    position: relative;
    display: inline-block;

}

#croppedImageDiv{
	z-index: 4;
	position: absolute;
	background-size: cover;
	top: 74px;
	height: 80%;
}

#puzzleWrapper{
	position: absolute;
	top: 74px;
	height: 80%;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 0;
}

#puzzleGridWrapper{
	position: absolute;
	top: 74px;
	height: 80%;
	font-size: 0;
}

.gridPiece{
	z-index: 5;
    position: relative;
    display: inline-block;
	
}

#puzzleImage{
	z-index: 1;
}

.overallGridPiece{
	z-index: 5;
    position: relative;
    display: none;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border: solid 1px darkgray;
}

#backButton{
	position:absolute;
	z-index:7;
	top:0;
	right:0;
}


/********** mini Overview start **********/
#miniOverview{
	position: absolute;
	background-size: cover;
	top: 25%;
	left: 60%;
	width: 87px;
	height: 75px;
	background-color: red;
	font-size: 0;
}

.miniOverviewGridPiece, .miniOverviewPuzzlePiece{
	z-index: 4;
    position: relative;
    display: inline-block;
}

#overallGridMarker{
	z-index: 5;
	display: none;
	position:absolute;
	border: solid 1px red;
	width: calc(99%/4);
	height: calc(99%/4);
}
	
/********** mini Overview end **********/