#puzzleOverview{
    position: absolute;
    background-size: cover;
    top: 25%;
    left: 60%;
    width: 87px;
    height: 75px;
    background-color: red;
    font-size: 0;
}

.miniOverviewGridPiece, .miniOverviewPuzzlePiece{
    z-index: 4;
    position: relative;
    display: inline-block;
}

#guessOverview{
    top: 25%;
    left: 75%;
    width: 25%;
    height: 25%;
}

#guessItems{
    top: 25%;
    left: 100%;
    width: 25%;
    height: 25%;
}
