.puzzlePiece {
	z-index: 6;
    position: relative;
    display: inline-block;

}

#croppedImageDiv{
	z-index: 4;
	position: absolute;
	background-size: cover;
	top: 74px;
	height: 80%;
}

#puzzleWrapper{
	position: absolute;
	top: 74px;
	height: 80%;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 0;
}

#puzzleGridWrapper{
	position: absolute;
	top: 74px;
	height: 80%;
	font-size: 0;
}

.gridPiece{
	z-index: 5;
    position: relative;
    display: inline-block;
	
}

#puzzleImage{
	z-index: 1;
}

.overallGridPiece{
	z-index: 5;
    position: relative;
    display: inline-block;
}

#backButton{
	position:absolute;
	z-index:7;
	top:0;
	right:0;
}

