.close-zoom{
	color: #d40055;
}

#croppedImageDiv{
	z-index: 4;
	position: absolute;
	background-size: cover;
	top: 74px;
	height: 80%;
	width: 80%;
}

#puzzleWrapper{
	position: absolute;
	top: 74px;
	height: 80%;
	width: 80%;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 0;
	
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

#puzzleGridWrapper{
	position: absolute;
	top: 74px;
	height: 80%;
	width: 80%;
	font-size: 0;
}


#puzzleImage{
	z-index: 1;
}

#pointsWrapper{
	position: relative;
	display: flex;
	flex-direction: column;
}

.points{
    position: relative;
    width: 10%;
    text-align: center;
    font-size: calc(11pt + 0.6vw);
    font-family: sans-serif;
    color: grey;
    opacity: 0.5;
}
/***  Buttons ***/

.startGuess{
    background: #d40055;
   /*  padding: 17px 34px; */
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 95%;
    left: 35%;
    transform: translate(-50%, -50%);
}
/*** Buttons end ***/
/********** mini Overview start **********/
#miniOverview {
    position: absolute;
    background-size: cover;
    margin: 5% 2%;
    left: 5%;
    width: 110px;
    height: 110px;
    background-color: red;
    font-size: 0;
}

.miniOverviewGridPiece, .miniOverviewPuzzlePiece{
	z-index: 4;
    position: relative;
    display: inline-block;
}

#overallGridMarker{
	z-index: 5;
	display: none;
	position:absolute;
	border: solid 1px red;
	width: calc(99%/4);
	height: calc(99%/4);
}
	
/********** mini Overview end **********/