.puzzlePiece {
	z-index: 4;
    position: relative;
    display: inline-block;

}


#puzzleWrapper{
	position: absolute;
	top: 74px;
	height: 80%;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 0;
}