.puzzlePiece {
	z-index: 4;
    position: relative;
    display: inline-block;

}


#gridDiv{
	position: absolute;
	top: 56px;
	left: 0px;
	font-size: 0;
}

#puzzleWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 0;
}