#puzzleOverview{
    position: absolute;
    background-size: cover;
    height: 50%;
    background-color: red;
    font-size: 0;
    margin-top: 1%;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.miniOverviewGridPiece, .miniOverviewPuzzlePiece{
    z-index: 4;
    position: relative;
    display: inline-block;
}

#guessOverview{
    position: absolute;
    top: 70%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#guessItems{
    position: absolute;
    top: 80%;
    left: 40%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.guessButton {
    font-size: 16px;
    line-height: 36px;
    height: 36px;
    text-transform: uppercase;
    min-width: 64px;
    background: -moz-linear-gradient(top, #d40055, #d40055);
    padding: 17px 34px;
    margin: 8%;
}

.md a{
    color: #ffffff;
}