.sendRatings{
	margin-top: 3%;
}

.waiting{
	position: relative;
	display: none;
	margin-top: -6%;
}

.danksagung{
	display: block;
	text-align: center;
	margin-top: 4%;
	font-size: 14pt;
	margin-bottom: 5%;
}

.sendData{
	display: none;
}

.sliderDiv {
    display: inline-block;
}

.views {
    overflow-x: hidden;
}

.slider {
    width: 100%;
    margin: 25% 25% 25% 25%;
    transform: rotate(270deg);
}

.sendRatings {
    font-size: calc(8pt + 0.3vw);
}

/* Circle Animation in popup */
.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* popupStart start */

#my-popup {
    position: absolute;
    left: 0;
    width: 100%;
    margin-left: 0 !important;
}

.block p {
    text-align: center;
    font-size: 1.5em;
}

.page .popupNavbar {
    opacity: 0;
}

.page .popupStartpage {
    background-color: transparent !important;
}

/* popupStart end */

.sendRatingsWrapper{
	display: block;
    position: relative;
    margin-top: 8%;
}

/* Range Sliders */

.sliderWrapper {
    position: relative;
    padding-bottom: 2%;
}

.md .range-slider {
	position: relative;
	display: inline-block;
	width: 70%;
	min-width: 350px;
	height: 20px;
	left: 1%;
}

.sliderText{
	margin-left: 15%;
    padding-bottom: 2%;
    font-size: 16px;
    padding-top: 3%;

}

.satisfied{
    position: relative;
	float: right;
	margin-right: 2%;
}

.unsatisfied{
	position: relative;
	left: 4%;
	float: left;
	width: 15%;
	padding-left: 1%;
}

.md .range-bar, .ios .range-bar{
/*      */
    height: 2px;
 /*    margin-top: -1px; */
}

.ios .range-bar-active{
	background: #d40055;
}

.md .range-knob-wrap {
    height: 25px;
    width: 25px;
    margin-top: -11px;
    margin-left: -13px;
}
.range-knob {
    background: #fff !important;
    border: 2px solid #ffb380;
}
.md .range-slider-min:not(.range-slider-dual) .range-knob {
    background: #fff !important;
    border: 2px solid #d40055;
}



@media all and (max-width: 2000px) {
	.sendRatingsWrapper{
		margin-top: 5%;
	}
	
	.sliderText{
		padding-top: 1%;
	}
}

@media all and (max-width: 600px) {
	.sendRatingsWrapper{
		margin-top: 8%;
	}
	.sliderText{
		padding-top: 3%;
	}
}