.sliderDiv {
    display: inline-block;
    }

.views{
    overflow-x: hidden;
}

.slider {
    width: 50%;
    margin: 25% 25% 25% 25%;
    transform: rotate(270deg);
}

.header {

}

.testslider{
	width: 450px;
	height: 300px;
}

.testslider1{
	background-color: green;
}

.testslider2{
	background-color: red;
}

.testslider3{
	background-color: lime;
}