.swiper-container{
	height: 100%;
}

.selectionImgWrapper{
	position: relative;
	top: 55%;
	width: 30%;
	display: inline-block;
	margin-right: 5%;
}

.prototypeSelectionImg{
	position: relative;
	display: inline-block;
	width: 100%;
	margin-right: 2%;
}

.swiper-slide{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
}

.twoButtons{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
}


#left-Btn, #right-Btn{
	margin: 5%;
	width: 40%;
	min-width: 180px;
} 
