/**animations**/

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.9;}
}


.swiper-container{
	height: 100%;
}

.selectionImgWrapper{
	position: relative;
	top: 55%;
	width: 30%;
	display: inline-block;
	margin-right: 5%;
}

.prototypeSelectionImg{
	position: relative;
	display: inline-block;
	width: 100%;
	margin-right: 2%;
	
}

.swiper-slide{
	display: flex;
	flex-wrap: wrap;
	width: 60%;
}

.twoButtons{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0;
	left: 5%;
	margin-top: 15%;
}


#left-Btn, #right-Btn{
	margin: 5%;
	width: 40%;
	min-width: 208px;
} 

@media (max-width: 609.5px){
	#left-Btn, #right-Btn{
		margin: 5%;
		width: 100%;
		min-width: 208px;
	} 
}

@media (min-width: 610px){
	#left-Btn, #right-Btn{
		margin: 5%;
		width: 40%;
		min-width: 208px;
	} 
}

.arrow{
	position: absolute;
	z-index: 5;
	height: calc(100% - 64px);
	width: 10%;
	background-color: #fff;
	opacity: 0;
	pointer-events: auto;
	cursor: pointer;
}

.fadeInOut{
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.arrowRight{
	right: 0;
}

.arrowLeft{
	left: 0;
}

.arrowImg {
	position: relative;
	width: 40%;
	top: 43%;
	left: 29%;
}

#prototypeSwiper > div > div{
	background-color: black;
	background-size: 78% auto;
}
