.HSpunkte > *{  /*C geändert*/
    position: relative;
    display: inline-block;
}

.HSalt{
    position: relative;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    color: lightgray;
    top: 50%;
    display: initial;
} 


.HSneu{
    position: relative;
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
    color: grey;
    display: inline-block;
	width: 69%; /*C geändert*/
}

/* .HSpunkte img{
    position: relative;
    width: 9%;
    margin: 1%;
    top: 55%;
    left: 25%;
} */


/**** C angepasst ****/

.navbar:not(.prototypeSelectionNavBar){
	height: 7px !important;
}

/*************** puzzle view start ************/

.pointsWrapper{
	width: 70%;
	margin-left: 15%;
}

.points{
	font-size: calc(16pt + 0.23vw);
	font-weight: bold;
	color: #1a1a1a;
	
}


/*************** Highscore page ***************/

.logo{
	position: relative; 
	left: 10px; 
	height: 10%; 
}

/** Wrapper highscore lettering **/
.highscore-banner{
	width: 70%;
	height: 30%;
	margin-left: 15%;
	margin-top: -2%;
	padding: 5%;
	
}

.lettering{
	position: relative;
	padding-left: 5%;
}

.letteringNew{
	display:none;
	height: 40%;
	padding: 2%;
	padding-left: 3%;
}

.letteringHighscore{
	height: 60%;
	padding: 3%;
}

/** Wrapper points **/
.HSpunkte{
	height: 15%;
	width: 50%;
	margin-left: 25%;
}

.star{
	height: 90%;
	max-width: 15%;
}

.star:last-child {
	float: right;
}



