.HSpunkte{
    position: relative;
    display: inline;
}

.HSalt{
    position: relative;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    color: lightgray;
    top: 50%;
    display: inline-block;
}

.HSneu{
    position: relative;
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
    color: grey;
    display: inline-block;
}

.HSpunkte img{
    position: relative;
    width: 9%;
    margin: 1%;
    top: 55%;
    left: 25%;
    display: inline-block;
}