.HSpunkte > *{  /*C geändert*/
    position: relative;
    display: inline-block;
}

/* .HSalt{
    position: relative;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    color: lightgray;
	width: 30%;
} 


.HSneu{
    position: relative;
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
    color: grey;
    display: inline-block;
	width: 30%; /*C geändert*/
} */

/* .HSpunkte img{
    position: relative;
    width: 9%;
    margin: 1%;
    top: 55%;
    left: 25%;
} */


/**** C angepasst ****/

.navbar:not(.prototypeSelectionNavBar){
	height: 7px !important;
}

/*************** puzzle view start ************/

.pointsWrapper{
	width: 70%;
	margin-left: 15%;
}

.points{
	font-size: calc(16pt + 0.23vw);
	font-weight: bold;
	color: #1a1a1a;
	
}


/*************** Highscore page ***************/

.logo{
	position: relative; 
	left: 10px; 
	height: 10%; 
}

/** Wrapper highscore lettering **/
.highscore-banner{
	position: relative;
	display: block;
	width: 70%;
	height: 40%;
	margin-left: 15%;
	margin-top: -2%;
	
}

.lettering{
	position: relative;
	max-width: 100%;
	padding: 0 2%;
}

.letteringNew{
	display:none;
	max-height: 40%;
	width: 40%;
	padding-top: 5%;
}

.letteringHighscore{
	max-height: 60%;
	width: 100%;
	padding-top: 5%;
}


/** Wrapper points **/
.HSpunkte{
	position: relative;
	display: block;
	height: 15%;
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}

.star{
	height: 90%;
	max-width: 15%;
}

/* .star:last-child {
	float: right;
}
 */
 
 .divider{
	 width: 4%;
 }
 
 .HSpointsWithoutComparison > .HSneu {

    width: 68%;
    font-size: 5em;
    text-align: center;

}

.HSpointsComparison > .HSalt{
    position: relative;
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
    color: lightgray;
	width: 30%;
} 


.HSpointsComparison > .HSneu{
    position: relative;
    text-align: center;
    font-size: 5em;
    font-family: sans-serif;
    color: grey;
    display: inline-block;
	width: 30%; /*C geändert*/
}


